* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
}

.add-sticky-note {
  background-color: rgb(30, 30, 30);
  font-weight: bold;
  color: white;
  border: none;
  padding: 1em;
  margin: 3em 3.5em 0;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

dialog[open] {
  margin: auto;
  height: 90vh;
  width: 95vw;
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 8px;
}

.close-modal, .close-edit-modal {
  filter: invert(0.825);
  height: 30px;
  cursor: pointer;
  margin: 1em 1em 0 0;
}

.modal-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title, .edit-title {
  font-weight: bold;
  font-size: 2.5em;
}

input, .description, .edit-description {
  border: none;
  outline: none;
  background-color: rgb(45, 45, 45);
  width: 90vw;
}

textarea {
  resize: none;
}

.description, .edit-description {
  color-scheme: dark;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
}

.submit, .edit-submit {
  background-color: rgb(40, 40, 40);
  border: none;
  padding: 1em;
  width: 90vw;
  margin-top: 3em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

form {
  margin-left: 2em;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  margin: 2em;
}

.card {
  background-color: rgb(30, 30, 30);
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
  height: 10em;
  cursor: pointer;
  transition: transform .5s;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.delete-icon { 
  height: 2em;
  filter: invert(0.88);
}

.text {
  padding-right: 2em;
}
